@media (max-width: 450px){
  #logo-container{
  font-size:large;
  }
}

html, body {
  height: 100%;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -90px;
}

.footer, .push {
  height: 50px;
}

